.container{
    /* border:2px solid black ; */
    box-shadow:1px 1px 2px 2px  rgb(150, 143, 143)  ;
    height:20vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-top:20px;
    
}
.image img{
    width: 70px;
    height: 70px;
    margin: 20px;
}
.left{
    display: flex;
    /* justify-content: space-between; */
}
.header{
    display: flex;
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.words{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
/* .btn1 {
    background-color: aqua;
    width: 0px;
    height: 20px;
    margin: 20px;
    border-radius: 10px;
    border-style: none;
} */
.btn2{
    background-color: rgb(12, 5, 5);
    color: white;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    /* margin-left: 0px; */
    border-radius: 10px;
    border-style: none;  
}
.b1{
    background-color: rgb(241, 235, 235);
    color: rgb(115, 212, 212);
    width: 70px;
    height: 20px;
    margin-top: 20px;
    /* margin-left: 0px; */
    border-radius: 10px;
    border-style: none;   
}
.right{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    gap: 15px;

}
.aqua{
    background-color: aqua;
    border-style: none;
    margin-left:20px;
    border-radius:10px;
    width:40px;
}
.black{
    background-color:black;
    color:white;
    border-style:none;
    margin-left:20px;
    border-radius:10px;
    width:60px;
    
}